
@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background-color: #262626;
  color: #fff;
}

/* .dark .nav-links a {
  color: #fff;
} */


/* .nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
} */

/* .dark .nav-links ul{
  color: aquamarine;
}

.dark .nav-links li{
  color: aquamarine;
} */

.dark .nav-links strong{
  color: aquamarine;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4{
  color: aquamarine;
}

.dark .nav-links h1,
.dark .nav-links h2,
.dark .nav-links h3,
.dark .nav-links h4{
  color: aquamarine;
}

/* .dark .nav-links h2{
  color: #0d9488;
}

.dark .nav-links h3{
  color: #0d9488;
}

.dark .nav-links h4{
  color: #0d9488;
} */

.dark .nav-links blockquote{
  color: #2dd4bf;
}

.dark .nav-links pre{
  color: #3e4c5e;
}

.nav-links a:hover{
  /* background-color: #76a8ff; */
  color: rgb(216, 79, 0); 
}

/* 链接样式 */
.nav-links p a {
  color: rgb(37 99 235);
  text-decoration: none;
}


/* gpt样式 */

.chat-bubble {
   /* 最大宽度不超过显示区域的2/3 */
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  word-wrap: break-word;
  display: inline-block;
}
.chat-bubble p{
  margin: 1px;
}
.user-bubble {
  max-width: 60%;
  background-color: #f8f8f8 !important; /* 确保背景颜色优先级 */
  text-align: right; /* 文字靠右对齐 */
  border-width: 1px;
}
.assistant-bubble {
  max-width: 90%;
  background-color: #ffffff !important; /* 确保背景颜色优先级 */
  text-align: left; /* 文字靠左对齐 */
  border-width: 1px;
}
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 让所有聊天气泡靠右 */
}
.message-wrapper {
  display: flex;
  justify-content: flex-end;
}
.user-wrapper {
  justify-content: flex-end; /* 用户消息靠右对齐 */
}
.assistant-wrapper {
  justify-content: flex-start; /* 助手消息靠左对齐 */
}

/* 通用滚动条样式 scrollbar-custom */
.scrollbar-custom {
  scrollbar-width: wide;
  scrollbar-color: #d1d5db #f3f4f6; /* Firefox 支持 */
  border-radius: 9999px;
}

.dark .scrollbar-custom {
  scrollbar-width: wide;
  scrollbar-color: #3b3b3b #666666; /* Firefox 支持 */
  border-radius: 9999px;
}

/* WebKit 浏览器支持的滚动条样式 */
.scrollbar-custom::-webkit-scrollbar {
  width: 30px;
  height: 15px; /* 如果需要水平滚动条 */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #2256be;
  border-radius: 9999px; /* Tailwind 的 rounded-full */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px; /* Tailwind 的 rounded-full */
}

/* 暗模式滚动条样式 */
.dark .scrollbar-custom::-webkit-scrollbar-track {
    background: #374151;
  }

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #6b7280;
  }

