.mdhighlight {
    background-color: rgb(253 186 116);
    border-width: 2px;
    border-radius: 0.5rem;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    
  }

  /* 标题链接样式 */
  /* h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: inherit;
  } */
  
  /* h1 a::before, h2 a::before, h3 a::before, h4 a::before, h5 a::before, h6 a::before {
    content: '#';
    margin-right: 8px;
    visibility: hidden;
  }
  
  h1:hover a::before, h2:hover a::before, h3:hover a::before, h4:hover a::before, h5:hover a::before, h6:hover a::before {
    visibility: visible;
  } */
  
/* 文章标题样式 */
/* .nav-links h1 a {
  font-size: 2rem;
  color:rgb(0, 0, 0);
  text-decoration-line: none;
  text-wrap: pretty;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  font-family: "Times New Roman";

} */

.nav-links h1 {
  margin: 2rem 0 1rem 0;
  /* text-wrap: wrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
}
.nav-links h2 {
  margin: 1.5rem 0 1rem 0;
}
.nav-links h3 {
  margin: 1.25rem 0 1rem 0;
}

/* 标题样式 */
.nav-links h1 a{
  @media not all and (min-width: 640px) {font-size: 2rem };
  font-size: 2.5rem;
  margin: 30rem 0;
  color: #000000;
  text-decoration-line: none;
  text-wrap: balance;
  text-indent: 0px;
  /* border-left-width: 2px;
  border-color: rgb(0 0 0); */
  font-weight: 900;
  /* font-family: "Times New Roman"; */
}

.nav-links h2 a {
  @media not all and (min-width: 640px) {font-size: 1.75rem };
  font-size: 2.25rem;
  margin: 0rem 0;
  color: #000000;
  text-decoration-line: none;
  text-wrap: balance;
  text-indent: 0px;
  font-weight: 700;
  /* font-family: "Times New Roman"; */
}

.nav-links h3 a {
  @media not all and (min-width: 640px) {font-size: 1.5rem };
  font-size: 2rem;
  margin: 0rem 0;
  color: #000000;
  text-decoration-line: none;
  text-wrap: balance;
  text-indent: 0px;
  font-weight: 600;
  /* font-family: "Times New Roman"; */
}

.nav-links h4 a {
  @media not all and (min-width: 640px) {font-size: 1.5rem };
  font-size: 1.75rem;
  margin: 0rem 0;
  color: #000000;
  text-decoration-line: none;
  text-wrap: balance;
  text-indent: 0px;
  font-weight: 500;

}

.nav-links h5 a {
  @media not all and (min-width: 640px) {font-size: 1.25rem };
  font-size: 1.5rem;
  margin: 0rem 0;
  color: #000000;
  text-decoration-line: none;
  text-wrap: balance;
  text-indent: 0px;
  font-weight: 400;

}

.nav-links h6 a {
  font-size: 1.25rem;
  margin: 0rem 0;
  color: #000000;
  text-decoration-line: none;
  text-wrap: balance;
  text-indent: 0px;
  font-weight: 300;

}

/* 段落样式 */
p {
  font-size: 1rem;
  line-height: 1.75;
  margin: 0rem 0;
  /* color: #000000; */
  font-family: "Times New Roman";

}



/* 锚点样式 */

/* 锚点样式 */

h1 a::after, h2 a::after, h3 a::after, h4 a::after, h5 a::after, h6 a::after {
  content: '#';
  position: relative;
  left: 0.5rem;
  top: 50%;
  transform: 0;
  /* font-size: 2rem; 固定#符号的大小 */
  /* color: #1e90ff; */
  visibility: hidden; /* 默认隐藏 */
  font-weight: 700;
}

h1:hover a::after, h2:hover a::after, h3:hover a::after, h4:hover a::after, h5:hover a::after, h6:hover a::after {
  visibility: visible;
}

/* .nav-links a:focus */
.nav-links a:hover {
  /* background-color: #76a8ff; */
  color: rgb(37 99 235); 
}

/* 链接样式 */
.nav-links p a {
  color: rgb(37 99 235);
  /* text-decoration: none; */
}


/* 强调（粗体和斜体） */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* 代码块和行内代码 */
pre {
  background: #f5f5f5;
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  background: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: 'Courier New', Courier, monospace;
}

pre code {
  background: none;
  padding: 0;
}

/* 引用块 */
blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  color: #666;
  margin: 1em 0;
  font-style: italic;
}

/* 列表 */
ul {
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 2em;
}

ol {
  list-style-type: decimal;
  margin: 1em 0;
  padding-left: 2em;
}

/* 表格 */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5em;
  text-align: left;
}

th {
  background: #f5f5f5;
}

/* 图片 */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;
}



/* 暗模式样式 */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #e0e0e0;
  }

  p {
    color: #e0e0e0;
  }

  a {
    color: #bb86fc;
  }

  a:hover {
    color: #bb86fc;
  }

  pre {
    background: #333;
    color: #e0e0e0;
  }

  code {
    background: #333;
    color: #e0e0e0;
  }

  blockquote {
    border-left: 4px solid #555;
    color: #aaa;
  }

  th, td {
    border: 1px solid #555;
  }

  th {
    background: #333;
  }
} */


/* 文章目录样式 */
/* .toc {
  margin-bottom: 1em;
  padding-left: 0;
}

.toc ul {
  list-style-type: none;
}

.toc li {
  margin-bottom: 0.5em;
}

.toc a {
  text-decoration: none;
  color: inherit;
}

.toc a:hover {
  text-decoration: underline;
} */