---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "我的博客";
const allPosts = await Astro.glob('./posts/*.md');

---

<BaseLayout pageTitle={pageTitle}>
  <span slot="maindiv">
    <p>在这里，我将分享我的学习 Astro 之旅。使用了BaseLayout。
      <br>
      Blog List:
    </p>
    <ul>
          <!-- <li><a href="/SeanBlog/posts/Blog001/">文章1Test</a></li>-->
      <li><a href="/SeanBlog/posts/Blog002/">文章2Test</a></li> 
      {allPosts.map((post) =><BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
  </span>
  
</BaseLayout>