---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/SeanBlog/">首页</a>
		<a href="/SeanBlog/about/">关于</a>
		<a href="/SeanBlog/blog/">博客</a>
		<h1>关于我</h1>
		<h2>……和我的新 Astro 网站！</h2>
		
	</body>
</html>
