---
// import Navigation from '../components/Navigation.astro';
import Header from "../components/Header.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Pagetitle首页";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>
