---
import Rightsideber from '../components/Rightsideber.astro';

const headings2 = [
  {
    depth: 1,
    text: "Astro 0.18 Release",
    slug: "astro-018-release"
  },
  {
    depth: 2,
    text: "Responsive partial hydration",
    slug: "responsive-partial-hydration"
  }
  // 更多标题对象
];
const allPosts = await Astro.glob('../pages/posts/*.md');
// 查找 depth 为 1 的标题对象
const headingDepth1 = headings2.find(heading => heading.depth === 1);




allPosts.forEach((post, index) => {
  // console.log(`Post ${index + 1}:`);
  // 输出检测了不同层级的headings
  
  const headings = post.getHeadings();
  if (headings.length > 0) {
    const cont = 0
    headings.forEach((ih) =>{
    const hdepth = ih.depth;
    const hdepthofh = ih.text;
    if (hdepth < 3){
      // console.log(`headingdepth: ${hdepth} headingtext: ${hdepthofh}`);
    }
    
    })
    
  } else {
    console.log('No headings found.');
  }
});

allPosts.forEach((post, index) => {
  // console.log(`Post ${index + 1}:`);
  const headings = post.getHeadings();
  if (headings.length > 0) {
    headings.map((heading, headingIndex) => {
      // console.log(`Heading ${headingIndex + 1} slug: ${heading.slug}`);
    });
  } else {
    // console.log('No headings found.');
  }
});

// 测试更换目录树
// 获取当前页面路径
// const currentPath = Astro.url.pathname;

import IndexLayout from '../layouts/IndexLayout.astro';
import Leftsidebar1 from "../components/Leftsidebar1.astro";

import BaseLayout from '../layouts/BaseLayout.astro';
---
<IndexLayout>
  <div slot="maindiv">

  <h1>       
    测试新玩意       
  </h1>
  <div>
    <!-- component 三个动态按钮 -->
    <div class='flex flex-col items-center justify-center  gap-6 '>
      <div class='button w-40 h-16 bg-blue-500 rounded-lg cursor-pointer select-none
        active:translate-y-2  active:[box-shadow:0_0px_0_0_#1b6ff8,0_0px_0_0_#1b70f841]
        active:border-b-[0px]
        transition-all duration-150 [box-shadow:0_10px_0_0_#1b6ff8,0_15px_0_0_#1b70f841]
        border-b-[1px] border-blue-400
      '>
        <span class='flex flex-col justify-center items-center h-full text-white font-bold text-lg '>Active</span>
      </div>

      <div class='button w-40 h-16 bg-blue-500  cursor-pointer select-none
        active:translate-y-2  active:[box-shadow:0_0px_0_0_#1b6ff8,0_0px_0_0_#1b70f841]
        active:border-b-[0px]
        transition-all duration-150 [box-shadow:0_10px_0_0_#1b6ff8,0_15px_0_0_#1b70f841]
        rounded-full  border-[1px] border-blue-400
        
      '>
        <span class='flex flex-col justify-center items-center h-full text-white font-bold text-lg '>Love Me</span>
      </div>

      <div class='button w-16 h-16 bg-blue-500 rounded-full cursor-pointer select-none
        active:translate-y-2  active:[box-shadow:0_0px_0_0_#1b6ff8,0_0px_0_0_#1b70f841]
        active:border-b-[0px]
        transition-all duration-150 [box-shadow:0_8px_0_0_#1b6ff8,0_13px_0_0_#1b70f841]
        border-[1px] border-blue-400
      '>
        <span class='flex flex-col justify-center items-center h-full text-white font-bold text-lg '>?</span>
      </div>
    </div>
  </div>

  <!-- component 滚动换色页面-->
  <div class="mt-10 max-h-60 relative overflow-auto">
    <div class="sticky top-0 h-60 flex flex-col items-center justify-center bg-green-400">
        <h2 class="text-4xl">The First Title</h2>
        <p>Scroll Down</p>
    </div>
    <div class="sticky top-0 h-60 flex flex-col items-center justify-center bg-indigo-600 text-white">
        <h2 class="text-4xl">The Second Title</h2>
        <p>Scroll Down</p>
    </div>
    <div class="sticky top-0 h-60 flex flex-col items-center justify-center bg-purple-600 text-white">
        <h2 class="text-4xl">The Third Title</h2>
        <p>Scroll Down</p>
    </div>
    <div class="sticky top-0 h-60 flex flex-col items-center justify-center bg-neutral-800 text-white">
        <h2 class="text-4xl">The Fourth Title</h2>
    </div>
  </div>
  <!-- component 彩色换页 -->
    <div class="mt-10 h-2/5 w-full overflow-hidden flex flex-nowrap text-center" id="slider">
        <div class="bg-blue-600 text-white space-y-4 flex-none w-full flex flex-col items-center justify-center">
            <h2 class="text-4xl max-w-md">Your Big Ideia</h2>
            <p class="max-w-md">It's fast, flexible, and reliable — with zero-runtime.</p>
        </div>
        <div class="bg-pink-400 text-white space-y-4 flex-none w-full flex flex-col items-center justify-center">
            <h2 class="text-4xl max-w-md">Tailwind CSS works by scanning all of your HTML</h2>
            <p class="max-w-md">It's fast, flexible, and reliable — with zero-runtime.</p>
        </div>
        <div class="bg-teal-500 text-white space-y-4 flex-none w-full flex flex-col items-center justify-center">
            <h2 class="text-4xl max-w-md">React, Vue, and HTML</h2>
            <p class="max-w-md">Accessible, interactive examples for React and Vue powered by Headless UI, plus vanilla HTML if you’d rather write any necessary JS yourself.</p>
        </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
          const slider = document.querySelector('#slider');
          setTimeout(function moveSlide() {
              const max = slider.scrollWidth - slider.clientWidth;
              const left = slider.clientWidth;

              if (max === slider.scrollLeft) {
                  slider.scrollTo({left: 0, behavior: 'smooth'})
              } else {
                  slider.scrollBy({left, behavior: 'smooth'})
              }

              setTimeout(moveSlide, 2000)
          }, 2000)

      })
    </script>

  
  </div>
  

    
</IndexLayout>


