---

---
<!-- sidebar -->
<!-- 尽量成对书写class，有sm:前缀的是在大屏幕出现的，默认是小屏幕 -->
<aside class="
  hidden sm:visible
  absolute sm:relative sm:flex
  z-50 sm:z-10
  basis-0 sm:basis-56
  h-full w-56 flex-shrink-0 p-6
  bg-slate-300
  flex-col">
  <!-- <img src="/img/logo.svg" class="h-5" alt="Tailwind Play" /> -->
  <div class="p-8">
    <ul class="flex flex-col gap-4">
      <li>目录1</li>
      <li>SideMenu2</li>
      <li>SideMenu3</li>
      <li>SideMenu4</li>
    </ul>
  </div>
</aside>