---
const allPosts = await Astro.glob('../pages/posts/PageProblemRecord.md');
import Headingsofblog from "../components/Headingsofblog.astro";
---
<div class="pl-3 mt-3 text-sm overflow-y-auto  
[&::-webkit-scrollbar]:w-2
[&::-webkit-scrollbar-track]:rounded-full
[&::-webkit-scrollbar-track]:bg-gray-100
[&::-webkit-scrollbar-thumb]:rounded-full
[&::-webkit-scrollbar-thumb]:bg-gray-300
dark:[&::-webkit-scrollbar-track]:bg-neutral-700
dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
max-h-screen lg:mt-0 lg:px-6">
  <h2 class="text-sm font-medium text-secondary-900">On this page</h2>
    <div class="mt-3 text-sm">
      <ul class="space-y-5 leading-normal">
        {allPosts.map((post, index) => {
            const headings = post.getHeadings();
            return headings.map((heading, headingIndex) => (
              <Headingsofblog 
                key={`${index}-${headingIndex}`} 
                url={`#${heading.slug}`} 
                getHeadings={heading.text} 
              />
            ));
          })}
    </ul>
    </div>
</div>


<!-- <nav class="sticky top-24 order-last hidden w-56 shrink-0 pr-4 lg:h-[calc(100vh-96px)] xl:block">
    
</nav>  -->