<div>
  <button type="button" class="md:w-80 md:block hidden py-3 px-4 ml-10  items-center gap-x-2 text-sm font-semibold rounded-lg border border-spacing-1
 bg-white text-gray-200 text-center hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-large-modal">
    搜索 Search...
  </button>
  <div class="md:hidden inline-flex">
    <button type="button" class="hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-large-modal">
      <span>
        <svg width="20" height="20"  viewBox="0 0 20 20">
          <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </span>
    </button>
  </div>


  
<!-- 
  <div class="sm:hidden">
    <div id="search" class="absolute w-full top-0 start-0 cursor-pointer after:absolute after:inset-0 after:-z-[1] after:rounded-full after:hover:bg-gray-200 dark:after:hover:bg-neutral-800">
        <button type="button" data-hs-overlay="#hs-large-modal">
            <span >
              <svg width="20" height="20"  viewBox="0 0 20 20">
                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
             </svg>
              <div id="search" class=" overflow-y-auto
                [&::-webkit-scrollbar]:w-2
                    [&::-webkit-scrollbar-track]:rounded-full
                    [&::-webkit-scrollbar-track]:bg-gray-100
                    [&::-webkit-scrollbar-thumb]:rounded-full
                    [&::-webkit-scrollbar-thumb]:bg-gray-300
                    max-h-96" autofocus=""></div>
                <script >
                window.addEventListener('DOMContentLoaded', (event) => {
                    //@ts-ignore-
                    new PagefindUI({ element: "#search", showSubResults: true });
                });
                </script>
          </span>
        </button>
    </div>
</div> -->




  <div id="hs-large-modal" class="hs-overlay hidden size-full min-h-40 h-auto fixed top-150 start-0 z-[30] overflow-x-hidden overflow-y-auto pointer-events-none">
    <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all lg:max-w-4xl lg:w-full m-3 lg:mx-auto">
      <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="flex justify-between items-center py-3 px-4 border-b dark:border-neutral-700">
          <h3 class="font-bold text-base">
            搜索内容
          </h3>
          <!-- <button type="button" class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent  hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-basic-modal">
            <span class="sr-only">Close</span>
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M18 6 6 18"></path>
              <path d="m6 6 12 12"></path>
            </svg>
          </button> -->
        </div>
        <div class="p-4">
            <div id="search" class=" overflow-y-auto
            [&::-webkit-scrollbar]:w-2
                [&::-webkit-scrollbar-track]:rounded-full
                [&::-webkit-scrollbar-track]:bg-gray-100
                [&::-webkit-scrollbar-thumb]:rounded-full
                [&::-webkit-scrollbar-thumb]:bg-gray-300
                 max-h-96" autofocus=""></div>
            <script >
              window.addEventListener('DOMContentLoaded', (event) => {
                //@ts-ignore-
                  new PagefindUI({ element: "#search", showSubResults: true });
              });
            </script>
        </div>
        
      </div>
    </div>
  </div>

</div>