<div>
  <button type="button" class="lg:w-80 lg:block hidden py-1 px-4 ml-10  items-center gap-x-2 text-base font-light rounded-lg border border-spacing-1
 bg-white text-gray-600 text-left hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-large-modal">
    <svg xmlns="http://www.w3.org/2000/svg" class="size-6 inline-block" viewBox="0 0 24 24">
      <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14" />
    </svg>
    搜索 Search...
  </button>
  


  

  <div id="hs-large-modal" class="hs-overlay hidden size-full min-h-40 h-auto fixed top-150 start-0 z-[30] overflow-x-hidden overflow-y-auto pointer-events-none">
    <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all lg:max-w-4xl lg:w-full m-3 lg:mx-auto">
      <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto dark:bg-neutral-500 dark:border-neutral-700 dark:shadow-neutral-700/70 dark:text-slate-200">
        <div class="flex justify-between items-center py-3 px-4 border-b dark:bg-neutral-900 dark:border-neutral-700">
          <h3 class="font-bold text-base">
            搜索内容
          </h3>
          <!-- <button type="button" class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent  hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-basic-modal">
            <span class="sr-only">Close</span>
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M18 6 6 18"></path>
              <path d="m6 6 12 12"></path>
            </svg>
          </button> -->
        </div>
        <div class="p-4 ">
            <div id="search" class=" overflow-y-auto
            [&::-webkit-scrollbar]:w-2
                [&::-webkit-scrollbar-track]:rounded-full
                [&::-webkit-scrollbar-track]:bg-gray-100
                [&::-webkit-scrollbar-thumb]:rounded-full
                [&::-webkit-scrollbar-thumb]:bg-gray-300
                 max-h-96 dark:text-slate-200" autofocus=""></div>
            <script >
              window.addEventListener('DOMContentLoaded', (event) => {
                //@ts-ignore-
                  new PagefindUI({ element: "#search", showSubResults: true });
              });
            </script>
        </div>
        
      </div>
    </div>
  </div>

</div>
