---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Breadcrumb from "../components/Breadcrumb.astro";
import Leftnav from "../components/Leftnav.astro";
import Leftsidebar from "../components/Leftsidebar.astro";
import Rightsideber from "../components/Rightsideber.astro";
const { pageTitle } = Astro.props;
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- We use Inter as the default font, You can easily use Google Font CDN to import Inter fonts. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="min-h-screen flex flex-col w-full">
    <!-- 头部 -->
    <div class="bg-gray-100 shadow rounded-xl mb-4">
      <div class="flex flex-col items-center justify-between p-4 bg-white border md:flex-row rounded-xl">
        <Header />
      </div>
      <!-- 主页面 -->
      <div class="flex-col justify-center flex gap-4 items-start">
        <div class="w-full mx-auto">
          <main
            class="relative h-screen overflow-hidden bg-gray-100 dark:bg-gray-800"
          >
            <div class="flex items-start justify-between">
              <Leftsidebar />
              <div class="flex flex-col w-full md:space-y-4">
                <!-- <p>blog info</p> -->
                               
                <div class="mx-auto max-w-8xl px-4 lg:flex sticky top-24">
                  <article class="mx-auto mt-4 max-w-4xl flex-1 overflow-y-auto max-h-screen lg:mt-0 lg:px-6">
                    <p class="text-sm font-medium capitalize text-primary-500">getting-started</p>
                    <h1 class="mt-1 text-3xl font-bold capitalize text-secondary-900">Quick Start</h1>
                    <p class="mt-2">Get started with Sailboat UI in minutes.</p>
                    <div class="js-toc-content prose mt-10 max-w-none prose-a:font-medium prose-a:decoration-primary-500 prose-a:underline-offset-2 hover:prose-a:text-primary-500 prose-pre:shadow-md">
                      <p>
                        Installation
                        npm install -D tailwindcss
                        Sailboat UI is a modern UI component library for Tailwind CSS, you just need to install Tailwind CSS and configure it. Learn how to install Tailwind CSS.

                        Configuration
                      </p>
                      <slot />

                    </div>
                  </article>
                  <slot name="Rightbar" />
                  <!-- <Rightsideber /> -->
                  <!-- <slot /> -->
                </div>

              </div>
              
            </div>
          </main>
        </div>
      </div>
    </div>
    <script is:inline src="https://unpkg.com/preline"></script>
    <!-- <script src="../../node_modules/preline/dist/preline.js"></script> -->
    <script is:inline src="../../node_modules/preline/preline.js"></script>
    <!-- <script is:inline src="./node_modules/preline/preline.js"></script> -->
    <!-- preline的沒法正常讀取 而且又變成繁體字了 -->

    <script>
      import "../scripts/menu.js";
    </script>
    <!-- Alpine.js -->
    <!-- <script src="https://unpkg.com/alpinejs"></script> -->

    <!-- tippyjs -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://unpkg.com/@ryangjchandler/alpine-tooltip@1.2.0/dist/cdn.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </body>
</html>
