---
import Header from "../components/Header.astro";
import Header2 from "../components/Header2.astro";

// import Footer from "../components/Footer.astro";
import "../styles/global.css";
// import Breadcrumb from "../components/Breadcrumb.astro";
import Leftsidebar2 from "../components/Leftsidebar2.astro";
import Leftsidebar1 from "../components/Leftsidebar1.astro";

// import Rightsideber from "../components/Rightsideber.astro";
const { pageTitle } = Astro.props;
import BaseHead from '../components/BaseHead.astro';

---

<html lang="zh-cn" class="overflow-x-hidden overflow-y-scroll  
                [&::-webkit-scrollbar]:w-2
                [&::-webkit-scrollbar-track]:rounded-full
                [&::-webkit-scrollbar-track]:bg-gray-100
                [&::-webkit-scrollbar-thumb]:rounded-full
                [&::-webkit-scrollbar-thumb]:bg-gray-300
                dark:[&::-webkit-scrollbar-track]:bg-neutral-700
                dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
               ">
  <head>
    <title>{pageTitle}</title>
    <BaseHead />
    
  </head>
  <body class="bg-white min-h-screen text-secondary-500 antialiased overflow-y-hidden  dark:bg-neutral-800 dark:text-slate-200" >
    <!-- 头部 -->
    <!-- <div class="bg-white shadow rounded-xl max-h-screen"> -->
      <!-- <div class="backdrop-blur bg-white/60 shadow-sm absolute top-0 left-0 right-0 z-50 py-0 sm:fixed md:transition-all flex justify-center" id="header"> -->
      <!-- <div class="backdrop-blur shadow-sm absolute top-0 left-0 right-0 z-50 py-4 md:fixed md:transition-all"> -->
        <header class="border-b dark:border-neutral-700 backdrop-blur shadow-sm absolute top-0 left-0 right-0 z-50 py-2 md:fixed md:transition-all" id="header">
          <Header2 class="inline-block"/>
          <div class="lg:hidden inline-block w-full border-t mt-2">
            <button type="button" class="m-2 ml-4 ms-0 py-2 pl-2 pr-2 inline-block items-center gap-x-2 text-sm font-normal rounded-lg border border-spacing-1 text-cyan-800 bg-white hover:bg-gray-300 dark:bg-slate-900 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-overlay-backdrop-with-scrolling">
              博客目录 List of Blogs
            </button>
          </div>
          <!-- 三横杠 -->
          <div class="md:hidden ">
            <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10" 
            data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
              <svg class="hs-collapse-open:hidden inline-flex flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
              <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
          </div>

          <!-- dropdown-menu -->
          <!-- <div class="hs-dropdown hs-dropdown-example relative inline-flex">
            <button id="hs-dropdown-example" type="button" class="hs-dropdown-toggle py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
              Actions
              <svg class="hs-dropdown-open:rotate-180 size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </button>
          
            <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 w-56 hidden z-10 mt-2 min-w-60 bg-white shadow-md rounded-lg p-2" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-example">
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                Newsletter
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                Purchases
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                Downloads
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                Team Account
              </a>
            </div>
          </div> -->
        </header>
        
      <!-- </div> -->
      <!-- 主页面 -->
      <main>
        <section class="pt-24 lg:pt-24">
          <div class="max-w-[90rem] mx-auto px-4 sm:px-6 md:px-8">
            <!-- grid grid-cols-1 md:grid-cols-3 gap-4 -->
            <!-- <div class="relative md:hidden xl:w-56 xl:left-5 xl:block"> -->
              <!-- <aside class="fixedsidebar  lg:block top-0 z-20 -mx-4 hidden w-56 shrink-0 overflow-y-auto border-y border-y-gray-100 bg-white px-4 lg:top-40 lg:m-0  lg:h-[calc(100vh-160px)] lg:w-56 lg:border-none lg:bg-transparent lg:px-0"> -->
              <aside class="hidden lg:block fixed z-20 inset-0 top-[3.8125rem] left-[max(0px,calc(50%-45rem))] right-auto w-[19rem] pb-10 pl-8 pr-6 overflow-y-auto">
                <Leftsidebar1 />
              </aside>
              <aside class="sm:hidden">
                <Leftsidebar2 />

              </aside>
            <!-- </div> -->
            
            <div class="lg:pl-[19.5rem]">
              <div class="max-w-3xl mx-auto pt-10 xl:max-w-none xl:ml-0 xl:mr-[15.5rem] xl:pr-16">
                
                <header class="relative z-20">
                  <div class="m-4">

                  </div>
                </header>
                <div class="js-toc-content prose mt-10 max-w-none prose-a:font-medium prose-a:decoration-primary-500 prose-a:underline-offset-2 hover:prose-a:text-primary-500 prose-pre:shadow-md
                dark:bg-neutral-800 dark:text-slate-200">
                    <slot /> 
                  </div>
                
            
                <div class="fixed z-20 top-[3.8125rem] bottom-0 right-[max(0px,calc(50%-45rem))] w-[19.5rem] py-10 
                overflow-y-auto  h-min
                [&::-webkit-scrollbar]:w-2
                [&::-webkit-scrollbar-track]:rounded-full
                [&::-webkit-scrollbar-track]:bg-gray-100
                [&::-webkit-scrollbar-thumb]:rounded-full
                [&::-webkit-scrollbar-thumb]:bg-gray-300
                dark:[&::-webkit-scrollbar-track]:bg-neutral-700
                dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
                hidden xl:block">
                  <nav class="fixedsidebar top-24 min-w-56 hidden right-10 shrink-0 pr-4 lg:h-[calc(100vh-96px)] xl:block">
                    <slot name="Rightbar" />
                  </nav>
                </div>
              </div>
              
            </div>
          </div>
        </section>
        
      </main>
      
    <!-- </div> -->
    <!-- <script is:inline src="https://unpkg.com/preline"></script>
    <script is:inline src="../../node_modules/preline/preline.js"></script>
    <script src="../../node_modules/preline/dist/preline.js"></script>
    <script
      type="text/javascript"
      src="../../node_modules/tw-elements/dist/js/tw-elements.umd.min.js"></script> -->
    <style>
      .fixedsidebar {
        position: sticky;
        overflow-y: auto; /* 如果内容过多，添加滚动条 */
      }
    </style>


       
  </body>
</html>