---
import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
import "../styles/global.css";
// import Breadcrumb from "../components/Breadcrumb.astro";
// import Leftnav from "../components/Leftnav.astro";
// import Leftsidebar2 from "../components/Leftsidebar2.astro";
// import Rightsideber from "../components/Rightsideber.astro";
const { pageTitle } = Astro.props;
import BaseHead from '../components/BaseHead.astro';
const baseUrl = import.meta.env.BASE_URL;
---

<html lang="zh-cn" class="overflow-x-hidden overflow-y-scroll  
                [&::-webkit-scrollbar]:w-2
                [&::-webkit-scrollbar-track]:rounded-full
                [&::-webkit-scrollbar-track]:bg-gray-100
                [&::-webkit-scrollbar-thumb]:rounded-full
                [&::-webkit-scrollbar-thumb]:bg-gray-300
                dark:[&::-webkit-scrollbar-track]:bg-neutral-700
                dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
  <head>

    <title>{pageTitle}</title>
    <BaseHead  />

  </head>
  <body class="bg-white text-secondary-500 antialiased overflow-y-visiable ">
    <!-- 头部 -->
      <header class="backdrop-blur shadow-sm absolute top-0 left-0 right-0 z-50 py-4 md:fixed md:transition-all" id="header">
        <Header />
      </header>


    
      <!-- 主页面 -->
      <main class="max-h-full ">
        <section class="pt-14 lg:pt-24 ">
          <div class="mx-auto max-w-7xl px-4 lg:flex bg-white min-h-fit">
            <!-- <aside class="sticky top-0 z-20 -mx-4 shrink-0 overflow-y-auto border-y border-y-gray-100 bg-white px-4 lg:top-40 lg:m-0 lg:block lg:h-[calc(100vh-160px)] lg:w-56 lg:border-none lg:bg-transparent lg:px-0">
              <Leftsidebar2 />
            </aside>
            <nav class="sticky top-24 order-last hidden w-56 shrink-0 pr-4 lg:h-[calc(100vh-96px)] xl:block">
              <slot name="Rightbar" />
            </nav> -->
            <article class="mx-auto mt-4 max-w-7xl flex-1 
                max-h-screen min-h-full lg:mt-0 lg:px-6">
                <!-- <h1 class="mt-1 text-3xl font-bold capitalize text-secondary-900">Tailwind CSS Badge</h1> -->
                  <!-- <p class="text-sm font-medium capitalize text-primary-500">getting-started</p>
                  <h1 class="mt-1 text-3xl font-bold capitalize text-secondary-900">Quick Start</h1>
                  <p class="mt-2">Get started with Sailboat UI in minutes.</p> -->
                  <!-- <slot /> -->
                  <div class="js-toc-content prose mt-10 max-w-none prose-a:font-medium prose-a:decoration-primary-500 prose-a:underline-offset-2 hover:prose-a:text-primary-500 prose-pre:shadow-md">
                    <slot name="maindiv"/>
                  </div>
            </article>
          </div>
        </section>
       
        

        
      </main>
      
    <!-- </div> -->
    <!-- <script is:inline src="https://unpkg.com/preline"></script> -->
    <!-- <script is:inline src="../../node_modules/preline/preline.js"></script> -->


  </body>
</html>
