---
import Header2 from "../components/Header2.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
import BaseHead from '../components/BaseHead.astro';
// const baseUrl = import.meta.env.BASE_URL;
// 此页面是首页及无左右侧导航栏的基础页面样式
---

<html lang="zh-cn" class="overflow-x-hidden overflow-y-scroll  
                scrollbar-custom
                bg-white">
  <head>

    <title>{pageTitle}</title>
    <BaseHead  />

  </head>
  <!-- 背景渐变色 bg-gradient-to-t from-lime-50 to-sky-100 dark:from-slate-800 dark:to-sky-800 -->
  <body class="flex-grow  text-secondary-500 antialiased overflow-y-visiable  dark:bg-neutral-800 dark:text-slate-200 min-h-screen">
    <!-- 头部 -->
    <div class="flex justify-center border-b dark:border-neutral-700 backdrop-blur shadow-sm top-0 left-0 right-0 z-50 py-2 fixed transition-all" id="header">
      <Header2 />
    </div>


    
      <!-- 主页面 -->
      <main class="flex-grow ">
        <section class="pt-14 lg:pt-24 flex-wrapper">
          <div class="mx-auto max-w-7xl px-4 lg:flex">

            <article class="mx-auto mt-4 max-w-7xl flex-1 
                  lg:mt-0 lg:px-6">
   
                  <div class="flex-grow js-toc-content prose mt-10 max-w-none prose-a:font-medium prose-a:decoration-primary-500 prose-a:underline-offset-2 hover:prose-a:text-primary-500 prose-pre:shadow-md">
                    <slot name="maindiv"/>
                  </div>
            </article>
          </div>
          
        </section>
       
        

        <Footer />
      </main>

      <script src="../../node_modules/preline/dist/preline.js"></script>


      
  </body>

</html>
